# Looping

Looping adalah proses mengekeksekui suatu baris program secara berulang kali.

Ada 2 jenis looping yang ada di Python, yakni __for loop__ dan __while loop__

In [1]:
for x in range(10): # pencacahan di python dimulai dari 0, dan berakhir
    print(x)

0
1
2
3
4
5
6
7
8
9

In [2]:
# For loop biasanya digunakan untuk melakukan iterasi terhadap kumpulan nilai

for usia in [25,24,26,30,32,35,20] :
    print("Usia : ",usia)

Usia :  25
Usia :  24
Usia :  26
Usia :  30
Usia :  32
Usia :  35
Usia :  20

In [3]:
# Deret fibbonaci adalah deret yang merupakan penjumlahan dua bilangan sebelumnya

angka1 = 1
angka2 = 1
angka_baru = angka1 + angka2
for i in range(3,15):
    angka1 = angka2
    angka2 = angka_baru
    angka_baru = angka1 + angka2
    print("deret ke - ", i , "adalah ", angka_baru)

deret ke -  3 adalah  3
deret ke -  4 adalah  5
deret ke -  5 adalah  8
deret ke -  6 adalah  13
deret ke -  7 adalah  21
deret ke -  8 adalah  34
deret ke -  9 adalah  55
deret ke -  10 adalah  89
deret ke -  11 adalah  144
deret ke -  12 adalah  233
deret ke -  13 adalah  377
deret ke -  14 adalah  610

# Membuat gambar persegi dengan for loop

# Versi sederhana dengan isi padat

In [4]:
lebar = 10
panjang = 4
for baris in range(panjang):
    print("o" * lebar)

oooooooooo
oooooooooo
oooooooooo
oooooooooo

# Versi lebih kompleks dengan isi kosong

In [5]:
lebar = 10
panjang = 4
for baris in range(panjang):
    if baris == 0 or baris == (panjang-1) :
        gambar = "o"*lebar
        print(gambar)
    else :
        gambar = "o" + " "*(lebar-2) + "o"
        print(gambar)

oooooooooo
o        o
o        o
oooooooooo

# While Loop
While loop adalah loop yang berhenti ketika kondisi pengulangan tidak terpenuhi.

Misalkan Tono ingin membeli rumah dengan cash keras.  
Tono memiliki penghasilan dan pengeluaran yang sangat stabil.  
Setiap tahunnya, Tono mendapat kenaikan gaji sebesar 5%.  
Karena inflasi, pengeluaran tono setiap tahun bertambah sebanyak 4%.  
Harga properti setiap tahun mengalami kenaikan sekitar 6%.  

Jika tahun ini gaji tono 120 juta per tahun dan pengeluarnnya 40 juta per tahun, sementara rumah yang ingin dia beli seharga 1 milliar rupiah, berapa tahun Tono harus menabung ?

In [6]:
pendapatan_tahunan = 120_000_000
harga_rumah = 1_000_000_000
pengeluaran_tahunan = 40_000_000

kenaikan_pendapatan_per_tahun = 1.05
kenaikan_pengeluaran_per_tahun = 1.04
kenaikan_harga_rumah_per_tahun = 1.06

tabungan = 0

tahun = 0
while tabungan < harga_rumah:
    tahun += 1
    
    tabungan += pendapatan_tahunan - pengeluaran_tahunan
    print(f"Tahun ke {tahun}, tabungan : {tabungan}, harga rumah : {harga_rumah}")
    pendapatan_tahunan *= kenaikan_pendapatan_per_tahun
    pengeluaran_tahunan *= kenaikan_pengeluaran_per_tahun    
    harga_rumah *= kenaikan_harga_rumah_per_tahun

Tahun ke 1, tabungan : 80000000, harga rumah : 1000000000
Tahun ke 2, tabungan : 164400000.0, harga rumah : 1060000000.0
Tahun ke 3, tabungan : 253436000.0, harga rumah : 1123600000.0
Tahun ke 4, tabungan : 347356440.0, harga rumah : 1191016000.0
Tahun ke 5, tabungan : 446422847.6, harga rumah : 1262476960.0
Tahun ke 6, tabungan : 550910519.0040001, harga rumah : 1338225577.6000001
Tahun ke 7, tabungan : 661109235.13916, harga rumah : 1418519112.2560003
Tahun ke 8, tabungan : 777324014.6884764, harga rumah : 1503630258.9913604
Tahun ke 9, tabungan : 899875905.9269531, harga rumah : 1593848074.530842
Tahun ke 10, tabungan : 1029102819.3475156, harga rumah : 1689478959.0026927
Tahun ke 11, tabungan : 1165360403.164075, harga rumah : 1790847696.5428543
Tahun ke 12, tabungan : 1309022963.8854294, harga rumah : 1898298558.3354256
Tahun ke 13, tabungan : 1460484434.2653778, harga rumah : 2012196471.8355513
Tahun ke 14, tabungan : 1620159391.0517507, harga rumah : 2132928260.1456845
Tahun ke 15, tabungan : 1788484125.0803664, harga rumah : 2260903955.7544255
Tahun ke 16, tabungan : 1965917766.389454, harga rumah : 2396558193.0996914
Tahun ke 17, tabungan : 2152943467.1661987, harga rumah : 2540351684.685673
Tahun ke 18, tabungan : 2350069645.4800715, harga rumah : 2692772785.7668138
Tahun ke 19, tabungan : 2557831292.9078608, harga rumah : 2854339152.9128227
Tahun ke 20, tabungan : 2776791349.3131905, harga rumah : 3025599502.087592
Tahun ke 21, tabungan : 3007542148.209184, harga rumah : 3207135472.2128477
Tahun ke 22, tabungan : 3250706936.307191, harga rumah : 3399563600.5456185
Tahun ke 23, tabungan : 3506941471.0376, harga rumah : 3603537416.578356
Tahun ke 24, tabungan : 3776935700.0211315, harga rumah : 3819749661.573057
Tahun ke 25, tabungan : 4061415526.671106, harga rumah : 4048934641.267441
Tahun ke 26, tabungan : 4361144666.319535, harga rumah : 4291870719.7434874
Tahun ke 27, tabungan : 4676926597.482982, harga rumah : 4549382962.928097
Tahun ke 28, tabungan : 5009606613.118499, harga rumah : 4822345940.703783
Tahun ke 29, tabungan : 5360073976.966247, harga rumah : 5111686697.14601
Tahun ke 30, tabungan : 5729264190.334055, harga rumah : 5418387898.9747715
Tahun ke 31, tabungan : 6118161374.951034, harga rumah : 5743491172.913259

# Challenge

Setelah melihat estimasi, Tono merasa membeli rumah hanya sekedar mimpi.  
Akan tetapi setelah membaca buku mengenai investasi, Tono menemukan bahwa investasi adalah salah satu jalan realistis agar Tono membeli rumah.
Asumsikan setiap tahunnya Tono menginvestasikan 90% dari tabungannya untuk investasi dengan return keuntungan sebesar 10%.   
Jika semua berjalan dengan sempurna, berapa tahun Tono harus menabung dan berinvestasi agar bisa membeli rumah?

In [9]:
pendapatan_tahunan = 120_000_000
harga_rumah = 1_000_000_000
pengeluaran_tahunan = 40_000_000

kenaikan_pendapatan_per_tahun = 1.05
kenaikan_pengeluaran_per_tahun = 1.04
kenaikan_harga_rumah_per_tahun = 1.06

tabungan = 0

tahun = 0
while tabungan < harga_rumah:
    tahun += 1
    
    tabungan += pendapatan_tahunan - pengeluaran_tahunan
    
    # Buat modifikasi yang mensimulasikan investasi Tono
    tabungan_untuk_invest = 0.9*tabungan
    tabungan_bukan_invest = 0.1*tabungan

    tabungan_untuk_invest*= 1.1
    tabungan = tabungan_bukan_invest + tabungan_untuk_invest

    print(f"Tahun ke {tahun}, tabungan : {tabungan}, harga rumah : {harga_rumah}")
    pendapatan_tahunan *= kenaikan_pendapatan_per_tahun
    pengeluaran_tahunan *= kenaikan_pengeluaran_per_tahun    
    harga_rumah *= kenaikan_harga_rumah_per_tahun

Tahun ke 1, tabungan : 87200000.0, harga rumah : 1000000000
Tahun ke 2, tabungan : 187044000.0, harga rumah : 1060000000.0
Tahun ke 3, tabungan : 300927200.0, harga rumah : 1123600000.0
Tahun ke 4, tabungan : 430383927.6, harga rumah : 1191016000.0
Tahun ke 5, tabungan : 577100865.3680001, harga rumah : 1262476960.0
Tahun ke 6, tabungan : 742931505.0814803, harga rumah : 1338225577.6000001
Tahun ke 7, tabungan : 929911941.126138, harga rumah : 1418519112.2560003
Tahun ke 8, tabungan : 1140278125.5362453, harga rumah : 1503630258.9913604
Tahun ke 9, tabungan : 1376484718.284447, harga rumah : 1593848074.530842
Tahun ke 10, tabungan : 1641225678.5584605, harga rumah : 1689478959.0026927
Tahun ke 11, tabungan : 1937456755.988772, harga rumah : 1790847696.5428543